html
    head
        title=title
    
    body
        h1(style={color:'green'})=title
        ul
            for item in products
                li='id: '  +item.id +' / producto: ' +item.price+ ' / $' +item.price