<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= mesage %></h2>

    <ul>
        <% pets.forEach( function(pet) { %>
            <li>
                <%= pet.name %> es un <b><%= pet.animal %></b> y tiene <em><%= pet.age %> años</em> %>
            </li>
        <% }) %>
    </ul>
</body>
</html>